/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Container */
.container {
    height: 100%;
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-products {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* items in shopping cart */
.mobile-circles {
    display: none;
}

.page-title {
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 2rem;
}

.section-title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}

.mobile-title {
    display: none;
}

.cart-charity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.cart-preview {
    width: 48%;
    padding: 1em;
    border-radius: 0.75rem;
    background: #FFF;
    box-shadow: 0px 228px 64px 0px rgba(150, 150, 150, 0.00), 0px 146px 58px 0px rgba(150, 150, 150, 0.01), 0px 82px 49px 0px rgba(150, 150, 150, 0.05), 0px 37px 37px 0px rgba(150, 150, 150, 0.09), 0px 9px 20px 0px rgba(150, 150, 150, 0.10);
}


.choose-charity {
    width: 48%;
    padding: 1em;
    border: none;
    border-radius: 5px;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.circle {
    line-height: 0px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    background-color: #735EAB;
    color: white;
    font-family: Poppins;
}

.circle span {
    display: block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.preview-item {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.preview-image {
    width: 5.09888rem;
    height: 7.24388rem;
    border-radius: 0.38769rem;
}

.preview-layout {
    width: 90%;
    margin: 2em auto;
}

.text-money {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-number {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 10px 25px;
    margin-top: 0.5em;
}

.top-words {
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.btm-words {
    font-family: Poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
}

.btm-number {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 10px 25px;
    margin-bottom: 3em;
}

.view-qty {
    font-family: Poppins;
    font-size: 0.45231rem;
    font-style: normal;
    font-weight: 400;
    color: black;
    margin-top: 2em;
}

.card-title {
    text-align: center;
    font-family: Poppins;
    font-size: 0.64613rem;
    font-style: normal;
    font-weight: 400;
}

.card-price {
    text-align: center;
    font-family: Poppins;
    font-size: 1.29231rem;
    font-style: normal;
    font-weight: 400;
}

.qty-dropdown {
    float: right;
}

.charity-container {
    margin-top: 3em;
    position: relative;
}

.charity-container div {
    display: none;
}

.strtline {
    width: 90%;
    position: relative;
    left: 5%;
}

.btn-layout {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 3em;
}


/* dropdown  */
.custom-select {
    display: inline-block;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.number-selected {
    display: flex;
    width: 3.69225rem;
    height: 1.26594rem;
    padding: 0.06463rem 0.32306rem;
    justify-content: center;
    align-items: center;
    gap: 0.32306rem;
    flex-shrink: 0;
    border-radius: 0.71075rem;
    font-size: 0.38769rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    box-shadow: 0px 37.218px 10.338px 0px rgba(150, 150, 150, 0.00), 0px 23.778px 9.304px 0px rgba(150, 150, 150, 0.01), 0px 13.44px 8.271px 0px rgba(150, 150, 150, 0.05), 0px 6.203px 6.203px 0px rgba(150, 150, 150, 0.09), 0px 1.551px 3.101px 0px rgba(150, 150, 150, 0.10);
}

.select-items {
    position: absolute;
    background-color: white;
    z-index: 999;
    width: 3.69225rem;
    display: none;
    font-size: 0.38769rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-items div {
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.select-items div:hover {
    background-color: #ddd;
}

.select-arrow,
.select-arrow-down {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;

}

.select-arrow-down {
    display: none;
}

.select-items.show {
    display: block;

}

.img-size1 {
    width: 10px;
    height: 10px;
}

.img-size2 {
    width: 5px;
    height: 5px;
}